lol_showControl.*.toe
HokuyoTracking2024/report.csv
Backup/*

*.mov
*.mp4
Assets/flower_assets/assets2/over3.png
Assets/media/Call-to-Action.png
Assets/media/WhatsApp Image 2025-05-20 at 10.27.03 AM.jpeg
over3.png
switch1.png
switch4.png
videoMapa/Artboard 1.png
videoMapa/Backup/lol.5.toe
videoMapa/Backup/Teachable_Machine_0.2.1.toe
videoMapa/Backup/Teachable_Machine_0.2.2.toe
videoMapa/Backup/Teachable_Machine_0.2.3.toe
videoMapa/lol.6.toe
videoMapa/P7_bg_02.png
videoMapa/SpiritBlossom_Logo_2025_VERCTICAL-PINK_es_MX.ai
